@media screen and (min-width:768px) {
  
  .mobileUser{
    display: none;
  }

  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    padding: 1%;
  }
  
  .portfolio-item-wrapper {
    position: relative;
    padding-left: 7%;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    border-radius: 2rem;
  }
  
    #portfolio-img-background1 {
      background-image:url(../media/blogimg1.jpg)
    }

    #portfolio-img-background2 {
      background-image:url(../media/blogimg2.jpg)
    }

    #portfolio-img-background3 {
      background-image:url(../media/blogimg3.jpg)
    }

    #portfolio-img-background4 {
      background-image:url(../media/blogimg4.jpg)
    }

    #portfolio-img-background5 {
      background-image:url(../media/blogimg5.jpg)
    }

    #portfolio-img-background6 {
      background-image:url(../media/blogimg6.jpg)
    }

  .img-text-wrapper {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .subtitle {
    color: white;
    font-weight: 600;
    font-size: 2vw;
    max-width: 50%;
  }

  .subtitle:hover {
    color: #f72585;
    transition: 1s;
  }

  .subtitle2 {
    color: white;
    font-weight: 600;
    font-size: 1.5vw;
    margin-left: 100px;
  }

  .subtitle2:hover {
    color: #f72585;
    transition: 1s;
  }

}

@media screen and (max-width:767px) {
  .content-wrapper {
      display:none;
  }

  body {
    font-size: 5vw;
  }

  .mobileUser {
    font-size: 5vw;
    display:flex;
    justify-content: center;
    flex-direction: column;
    
  }

  .mobileUserX{
    color: coral;
    display: flex;
    justify-content: center;
  }


  .provingPoint{
    display: flex;
    justify-content: center;
    border: solid;
  }

  .mobileHead {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .blogPosts {
    position: relative;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
  }
}