        /* FOR BLOG PREVIOUS AND NEXT BUTTONS */
             .boxNavi1 {
                margin: 0rem 0rem;
                padding: 0rem 1rem;                
            }

            .boxNavi1:hover {
                font-size: 3vw;
            }

            #portfolio-img-background1 {
                background-image:url(/src/media/blogimg4.jpg);
                width: 20vw;
                height: 15vw;
                }